.bodyClass {
    background-image:url("/Image/omr.jpg");
    background-repeat:no-repeat;
}

.signUpBackground{
    background-color:#eee;
}

.gridviewstyle
{
    margin-top:50px;
    margin-left:150px;
    text-align:center;
}
